.lead{
  max-width: 984px;
  margin: 0 auto;
  padding: 56px 0 92px 0;
}
@media screen and (max-width: 1024px){
  .lead{
    max-width: 928px;
    padding-top: 48px;
  }
}
@media screen and (max-width: 768px){
  .lead{
    max-width: 768px;
    padding-bottom: 88px;
  }
}
@media screen and (max-width: 722px){
  .lead{
    max-width: 320px;
    padding-bottom: 64px;
  }
}