.cover__subtitle{
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  width: 360px;
  padding-top: 32px;
  z-index: 1;
}
@media screen and (max-width: 414px) {
  .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
    width: 288px;
  }
}
@media screen and (max-width: 320px) {
  .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
    width: 288px;
  }
}