.footer__links{
  padding-right: 18px;
}
.footer__links:nth-child(5){
  padding-right: 0;
}
@media screen and (max-width:414px){
  .footer__links{
    padding-right: 0;
    padding-bottom: 32px;
  }
}
@media screen and (max-width:320px){
  .footer__links{
    padding-right: 0;
    padding-bottom: 32px;
  }
  .footer__links:nth-child(5){
    padding-bottom: 0;
  }
}