.place__paragraph{
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}
@media screen and (max-width: 1010px){
  .place__paragraph{
    font-size: 16px;
    }
  }
@media screen and (max-width: 768px){
.place__paragraph{
  font-size: 16px;
  }
}
@media screen and (max-width: 414px){
  .place__paragraph{
    font-size: 16px;
    }
  }
@media screen and (max-width: 320px){
  .place__paragraph{
    font-size: 16px;
    }
  }
.place__paragraph:nth-child(2){
  padding-top: 26px;
}
@media screen and (max-width: 1024px){
  .place__paragraph:nth-child(2){
    padding-top: 27px;
  }  
}
@media screen and (max-width: 1010px){
  .place__paragraph:nth-child(2){
    padding-top: 25px;
  }  
}
@media screen and (max-width: 768px){
  .place__paragraph:nth-child(2){
    padding-top: 25px;
  }  
}
@media screen and (max-width: 414px){
  .place__paragraph:nth-child(2){
    padding-top: 25px;
  }  
}
@media screen and (max-width: 320px){
  .place__paragraph:nth-child(2){
    padding-top: 25px;
  }  
}