.lead__subtitle{
  margin: 0 auto;
  max-width: 640px;
  padding: 32px 0 64px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px){
  .lead__subtitle{
    padding: 32px 0 56px 0;
  }
}
@media screen and (max-width: 722px){
  .lead__subtitle{
    padding: 16px 0 40px 0;
    font-size: 16px;
    line-height: 20px;
  }
}