.place{
  max-width: 984px;
  margin: 0;
  padding: 0 0 80px 0;
  display: flex;
  flex-direction: column;
}
.place:last-child{
  padding:0;
}
@media screen and (max-width: 1186px){
  .place{
    max-width: 928px;
  }
}
@media screen and (max-width: 1010px){
  .place{
    max-width: 720px;
    padding-bottom: 73px;
  }
}
@media screen and (max-width: 722px){
  .place{
    max-width: 320px;
    padding-bottom: 50px;
  }
}