.footer{
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 24px;
}
@media screen and (max-width: 1186px){
  .footer{
    max-width: 928px;
  }
}
@media screen and (max-width: 1010px){
  .footer{
    max-width: 720px;
    padding-top: 88px;
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 722px){
  .footer{
    margin: 0;
    width: 186px;
    flex-wrap: wrap;
    padding: 64px 0 24px 16px;
  }
}