.intro__title{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
  margin: 0;
  padding: 0 0 40px 0;
}
@media screen and (max-width: 768px){
  .intro__title{
    margin: 0 auto;
    text-align: left;
  }
}
@media screen and (max-width: 722px){
  .intro__title{
    max-width: 288px;
   /* text-align: left; */
    font-size: 32px;
    line-height: 35px;
  }
}